<body class="Fondo">
    <section>
        <a href='@Url.Action("IrASala", "Home", new{numeroSala="1"})' class="Oficina">
            <div>
                <b>Office</b>
            </div>
        </a>

        <a href='@Url.Action("IrASala", "Home", new{numeroSala="13"})' class="Desk">
            <div>
                <b>Front Desk</b>
                <b>Puppet box</b>
            </div>
        </a>
        
        <a href='@Url.Action("IrASala", "Home", new{numeroSala="14"})' class="Parts">
            <div>
                <b>Parts & Service</b>
            </div>
        </a>

        <a href='@Url.Action("IrASala", "Home", new{numeroSala="15"})' class="State">
            <div>
                <b>Main State</b>
            </div>
        </a>
        <div class="Borde">

        </div>
        <a href='@Url.Action("IrASala", "Home", new{numeroSala="2"})' class="KidsCove">
            <div>
                <b>Kids Cove</b>
            </div>
        </a>

        <a href='@Url.Action("IrASala", "Home", new{numeroSala="4"})' class="Hall2">
            <div>
                <b>Hall 2</b>
            </div>
        </a>

        <a href='@Url.Action("IrASala", "Home", new{numeroSala="3"})' class="PartyRoom">
            <div>
                <b>Party Room 1</b>
            </div>
        </a>

        <a href='@Url.Action("IrASala", "Home", new{numeroSala="5"})' class="PartyRoom">
            <div>
                <b>Party Room 2</b>
            </div>
        </a>

        <a href='@Url.Action("IrASala", "Home", new{numeroSala="6"})' class="Hall1">
            <div>
                <b>Hall 1</b>
            </div>
        </a>

        <a href='@Url.Action("IrASala", "Home", new{numeroSala="7"})' class="Arcade">
            <div>
                <b>Arcade</b>
            </div>
        </a>

        <a href='@Url.Action("IrASala", "Home", new{numeroSala="8"})' class="Bath1">
            <div>
                <b>Bathroom 1</b>
            </div>
        </a>

        <a href='@Url.Action("IrASala", "Home", new{numeroSala="9"})' class="Bath2">
            <div>
                <b>Bathroom 2</b>
            </div>
        </a>

        <a href='@Url.Action("IrASala", "Home", new{numeroSala="16"})' class="Dining">
            <div>
                <b>Showroom / Dining</b>
            </div>
        </a>
        <a href='@Url.Action("IrASala", "Home", new{numeroSala="11"})' class="Exit">
            <div>
                <b>Exit</b>
            </div>
        </a> 
        <a href='@Url.Action("IrASala", "Home", new{numeroSala="11"})' class="KidCare">
            <div>
                <b>Kid Care Zone</b>
            </div>
        </a>   
        <a href='@Url.Action("IrASala", "Home", new{numeroSala="12"})' class="Kitchen">
            <div>
                <b>Kitchen</b>
            </div>
        </a>   
        
    </section>
</body>